
@font-face{
    font-family: 'Roboto';
    src:  url('../Fonts/RobotoMono-Regular.ttf');
}


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}



h2{
    font-size: 22px;
    font-weight: 700;
    color: #000;
    font-family: "Roboto";
}

h3{
    font-size: 18px;
    font-weight: 700;
    color: black;
    font-family: "Roboto";
}

p,a{
    font-size: 14px;
    color: black;
}

a{
    text-decoration: none;
}

span{
    color: #666;
}


/* Main styling */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 794px;
    max-width: 100%;
    margin: 30px auto;
    padding: 40px 48px;
    font-family: 'helvetica';
    line-height: 1.5;
    color: #000;
    background: #fff;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.cv-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Kopfzeile styling */

.cv-header{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.name{
    font-size: 35px;
    font-weight: 700;
}

.title{
    font-weight: 100;
    color: #5e5e5e;
}

.contact-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 100px
}

.contact-item {
    display: flex;
    flex-direction: column;
}


.contact-value{
    font-size: 12px;
}

.cv-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 32px;
    gap: 40px;
}

/* Left Column - titles and Dates 30% */
.section-sidebar{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 10px;
}

.sidebar-dates{
    display: flex;
    flex-direction: column;
    gap:30px
}

.date-block{
    display: flex;
    flex-direction: column;
}

.date-block:nth-child(2){
    margin-top: 85px;
}

.date,
.location {
    font-size: 14px;
}

/* right Column - content 70% */
/* right column: content 70% */
.section-content{
    width: 70%;
}

/* praktika entries */

.employment-entry{
    margin-top: 38px;
}

.section-content > .employment-entry >p{
    margin-top: 6px;
}

/* ausbildung entries */

.education-entry{
    margin-top: 38px;
}

.section-content > .education-entry >p{
    margin-top: 6px;
}

/* kenntnisse entries */

.skills-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px 30px;
}

.skills-list li {
    font-size: 15px;
    color: #000;
}